.navbar {
	background-color: transparent;
	color: #F4D58D;
	position: absolute;
	top: 5px;
	width: 100%;
	font-size: 1.2rem;
}

.navbarWrap {
	display: flex;
}

.logo {
	border-radius: 50%;
	box-shadow: inset 0 0 10px 20px #000102;
	border: 1px dashed white;
	padding: .8rem;
}

.navbarList {
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	text-transform: uppercase;
}

.navbarList li {
float: left;
margin-left: 1.5rem;
border-bottom: 3px solid transparent;
}

.navbarList li:hover {
	background-color: hsla(209, 100%, 16%, 0.3);
	border-bottom-color: #002950;
}

.navbarList li a {
	height: 5rem;
	line-height: 5rem;
	padding: 1rem;
}