body {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  color: #121212;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100%;
  /* background: #cccccc; */
}

html {
   min-height: 100%;
}

section,
footer,
header,
main,
nav {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: #f4d58d;
  text-decoration: none;
  background-color: transparent;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin: 0;
}

button {
  outline: none;
}

img {
	width: 100%;
	max-width: 100%;
	vertical-align: middle;
	border-style: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.ul-defaults-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  font-weight: 700;
  min-width: 175px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1.63px;
  transition: 0.4s;
  padding: 15px 10px;
}
